@use '../custom_bootstrap' as *;

.img-skeleton {
  background-color: $gray-500;
  width: 200px;
  height: 200px;
}

.text-skeleton {
  background-color: $gray-500;
  width: 100px;
  height: 20px;
  border-radius: 4px;
}